{% extends 'management/base.html' %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        {% if messages %}
            {% for message in messages %}
                Swal.fire({
                    icon: '{{ message.tags }}',
                    title: '{{ message.message }}',
                    showConfirmButton: true
                });
            {% endfor %}
        {% endif %}
    });
</script>
{% endblock %}

{% block content %}

<br><br>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2>Ingresa datos de acreditador</h2>
                    <hr>
                    <form action="" method="post">

                        {% csrf_token %}
                        {{ form | crispy }}

                        <input type="submit" value="ingresar" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>

{% endblock %}