{% extends "management/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<br><br>
<div class="container">
    <h2>Eventos registrados</h2>
    <hr>
    <div class="row">
        {% for e in entity %}
        <div class="col-md-4 mb-4">
            <div class="card">
                {% if e.imagen %}
                <img class="card-img-top" src="{{ e.imagen.url }}" alt="{{ e.nom_evento }}">
                {% else %}
                <img lass="card-img-top" src="{% static 'default_event_image.jpg' %}" alt="Evento sin imagen">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ e.nom_evento }}</h5>
                    <p class="card-text">
                        Fecha de inicio: {{ e.fec_inicio }}<br>
                        Fecha de término: {{ e.fec_termino }}<br>
                        Estado: {% if e.activo %} En curso {% else %} Terminado {% endif %}
                    </p>
                    <a href="{% url 'detalle_evento' e.id %}" class="btn btn-primary">Ver detalles</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
    <div>
        {% include 'home/paginator.html' %}
    </div>
</div>
<br><br>
{% endblock %}
