body {
    background-image: linear-gradient(#2d2f3d, #4f5758);
    min-height: 100vh;
    border: #1f2937;
    /* background-image: url('https://previews.123rf.com/images/vectorwin/vectorwin1904/vectorwin190400144/122946185-vector-de-patrones-sin-fisuras-de-la-vida-animal-divertido-gato-linda-mascota-gatito-silueta-huella-.jpg'); */
    background-blend-mode: darken;
}

.login-container {
    height: 100vh;
    display: flex;
}
.login-image {
    flex: 1;
    background: url('dj_log.webp') no-repeat center center;
    background-size: cover;
}
.login-form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-wrapper {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: linear-gradient(#57b7c4, #2d2f3d);
    text-align: center; /* Center text and logo */
    position: relative; /* Ensure logo positioning */
}
.logo-container {
    position: absolute;
    top: -225px; /* Adjust based on your logo size */
    left: 50%;
    transform: translateX(-50%);
}
.logo {
    max-width: 250px; /* Adjust based on your logo size */
}