django == 5.1
gunicorn
dj-database-url
django-admin-interface
django-crispy-forms
django-bootstrap-datepicker-plus
crispy-bootstrap5
django-rest-framework
python-dotenv
psycopg2-binary # dev, pyscopg2 if production
pillow
boto3
django-storages